.cardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 330px;
    max-height: 330px;
    padding: 20px;
    box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 20px;
    cursor:pointer;
    transition: all 0.3s ease-out;
    border-radius: 6px;
   }

   .cardWrapper:hover{
    background: linear-gradient(90deg, #A10410 6.25%, #C60501 100%);
    box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.3);
    
   }



   .other{
    background: linear-gradient(180deg, #990313 0%, #C50400 50%);
   }

   .cardWrapper:hover > .txt, .cardWrapper:hover > h5, .cardWrapper:hover > .day {
    color: white !important;
  }
  .cardWrapper:hover > .day {
    color: white !important;
  }
.tagWrapper{

    display: flex;
    text-align: center;
   }
.tag1{
    width: 54px;
    
    background: #E8E3D9;
    border: 1px solid #D6D6D6;
    border-radius: 6px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin-right: 5px;
    padding: 2px;
    text-transform: uppercase;
   }

.tag2{
    margin-left: 5px;
    width: 54px;
    background: #ffffff;
    border: 1px solid #D6D6D6;
    border-radius: 6px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin-right: 5px;
    padding: 2px;
   }

.txt{
    padding-top: 25px;
    padding-bottom: 25px;
    color: #7F7F7F;
}

.bottomWrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
   }
.bottomWrapper > div > span {font-size: 13px; font-weight:200}
   
.lineDashed{
    margin-top: 10px;
    width: 30%;
    border-top: 1px dashed #B2B2B2;
   }
.day {color: #7F7F7F ; font-size: 12px !important;}

.jobCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width: 320px;
    min-height: 370px;
    max-height: 370px;
    background: #FFFFFF;
    box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 24px;
  
    padding-top: 0px;
    padding-bottom: 10px;
}

.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.subWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    
    
}

.titleWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 26px;
    height: 80px;
    
}

.line{
    border-bottom: 1px solid #E8E8E8;
    width: 140px;
}


.titleWrapper > div > span{
    color:black;
    font-weight: 300;
    
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    background: #E8E3D9;
    border: 1px solid #D6D6D6;
    border-radius: 6px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin-right: 5px;
    padding: 2px;
    font-weight: 300;
   
}

.textWrapper{
    display: flex;
    color: #7F7F7F;
    font-weight: 300;
    padding-top: 20px;
    flex-direction: column;
}

.dateFrom{
    display: flex;
    font-weight: 300;
    justify-content: flex-end;
    font-size: 12px;
}

.heart{color: #C5B1A5;}

.jobCardContainerModal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    background: #FFFFFF;
   
    border-radius: 6px;
    padding: 24px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 10px;
    margin-bottom:20px
}

.lineModal{
    border-bottom: 1px solid #E8E8E8;
    width: 450px;
    margin-top: 10px;
}

.textTitle{ color:black !important; font-weight:500;}

.ctaWhite {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 16px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #B00620;
    border-radius: 4px;
    color: #B00620;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    width: 98px;
  }
  
  .ctaWhite:hover {
    background: #B00620;
    color: white;
    
  }

  .ctaWhiteSmall {
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #B00620;
    border-radius: 4px;
    color: #B00620;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    
  }
  
  .ctaWhiteSmall:hover {
    background: #B00620;
    color: white;
    
  }

  