.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}



.title2 {
  display: flex;
  align-items: center;
  width: 400px;
  height: 65px;
  top: 652px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: -40px;
  margin-left: 80px;
}

.title2 {
   
  padding-left: 30px;
  padding-top: 10px;
}

.subtitle1{
  font-size: 28px;
  font-weight: 300;
}


.subtitle2{
  font-size: 28px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 10px;
  color: #aa9a7b;
}
.arrow{
  /* font-size: 20px; */
  margin-top: 5px;
 
}

.topOffersWrapper {
  position: relative;
}

.sliderContainer {
  position: relative;
}

.editorialWrapper {
  position: relative;
}

.jobCardsWrapper {
  position: relative;
  margin-top: -40px;
}