.container{
    display: flex;
    width: 100%;
    max-width: 1700px;
   
    flex-wrap: wrap;
    justify-content: center;
    gap : 50px;
    background: url('/images/bg-jobs.jpg');
    background-repeat: no-repeat;
	background-size: contain;
    background-position: 0px 150px;

    
}

