
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.title{padding-top: 40px;}

.email {
  margin: 10px;
  font-family: "Poppins";
  font-size: 14px;
}

.password {
  margin: 10px;
  font-family: "Poppins";
  font-size: 14px;
}

.connect {
  margin: 10px;
}