.container{
   padding-top: 80px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   max-width: 1700px;
   height: 608px;
   width: 100%;
   background: url('/images/bg-offer.jpg');
   background-repeat: no-repeat;
   margin-top: -80px;
   background-position: top right;
   z-index: 2000;
}

.slideNav{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding-right: 50px;
   padding-top: 20px;
}

.tagsAndCardscontainer{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   max-width: 1700px;
   width: 100vw;
   overflow-x: hidden;
   }

   
.tagsWrapper {
   background-color: white;
   z-index:1000;
   padding-right: 50px;
   display: flex;
   flex-direction: column;
   min-height: 130px;
   min-width: 250px;
   

}
.cardsWrapper {
   padding-left: 0px;
   padding-right: 0px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   transition: transform 0.3s ease;
}
.linear {
  width: 100%;
   display: flex;
   flex-direction: row;

}

.arrow {
   cursor: pointer;
   padding: 10px;
}

.arrow:hover {
   color: #a61919;
}

.progressContainer{
   width: 1200px;
   height: 340px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}