.container{
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   max-width: 1700px;
   width: 100%;
}

.slideNav{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.tagsAndCardscontainer{
  
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   max-width: 1700px;
   width: 100%;
   overflow-x: hidden;
   }

   
.tagsWrapper {
  
   background-color: white;
   z-index:1000;
   padding-right: 50px;
}
.cardsWrapper {
   padding-left: 0px;
   padding-right: 0px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   transition: transform 0.3s ease;
}

.prevButton,
.nextButton {
  background-color: white;
  border: 1px solid black;
  padding: 8px 16px;
  cursor: pointer;
}

.prevButton:hover,
.nextButton:hover {
  background-color: black;
  color: white;
}